<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="format-detection" content="telephone=no">
    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="browsermode" content="application">
    <meta name="x5-page-mode" content="app">
	<title>兑换中心</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/newCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/creditsMall/points.css">
	<script>
		; (function (doc, win) {
			var maxWidth = 720;
			var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function () {
					var clientWidth = docEl.clientWidth;
					if (!clientWidth) return;
					if (clientWidth < 320) clientWidth = 320;
					if (clientWidth > maxWidth) clientWidth = maxWidth;
					fontSize = 20 * (clientWidth / 320);
					fontSize = (fontSize > 54) ? 54 : fontSize;
					//如果是pc访问
					if (!/windows phone|iphone|android/ig.test(window.navigator.userAgent)) {
						fontSize = 20 * maxWidth / 320;
					}
					docEl.style.fontSize = fontSize + 'px';
					var dpi = window.devicePixelRatio;
					var viewport = document.querySelector('meta[name="viewport"]');
					docEl.setAttribute('data-dpi', dpi);
					var scale = 1 / dpi;
				};
			if (!doc.addEventListener) return;
			recalc();
			win.addEventListener(resizeEvt, recalc, false);
			doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
</head>
<body>
	<div id="all-body-div-preloader">
        <div id="all-body-div-status"></div>
    </div>
	<div class="view" id="move_up">
		<ul class="welfare_tab JS_tab new_tab">
			<li><span class="tab_current">小僧精选</span></li>
			<li><span>小僧礼券</span></li>
		</ul>
		<div class="welfare_content new_welfare_content">
		<!--小僧精选-->
			 <div class="welfare_choice cls" >
				 <!-- <a href="choice_detail.html" class="list_a">
					 <div class="detail_pic">
						 <img src="/css/img2.0/pointImg/default_pic.png" />
						 <div class="label"><span class="label_one">满减</span><span class="mz">满赠</span><span class="discount">折扣</span><span class="only_member">铂金会员专享</span><span class="label_two">每天限一份</span>
						</div>
					 </div>
					 <p class="product_desc physical_title">标题要截断在十三个字内截断在十三个字标题要截断在十三个字内截断在十三个字</p>
					 <div class="candy_number"><span><b class="point_num">3000</b>唐果</span><span class="inventory">剩余100份</span></div>
				 </a>
				 <a href="choice_detail.html" class="list_a">
					 <div class="detail_pic">
						 <img src="/css/img2.0/pointImg/default_pic.png" />
						 <div class="label"><span class="label_one">满减</span><span class="label_two">每天限一份</span></div>
					 </div>
					 <p class="product_desc physical_title">标题要截断在十三个字内截断在十三个字</p>
					 <div class="candy_number"><span><b class="point_num">3000</b>唐果</span><span class="inventory">剩余100份</span></div>
				 </a>
				 <a href="choice_detail.html" class="list_a">
					 <div class="detail_pic">
						 <img src="/css/img2.0/pointImg/default_pic.png" />
						 <div class="label"><span class="label_one">满减</span><span class="label_two">每天限一份</span></div>
					 </div>
					 <p class="product_desc physical_title">标题要截断在十三个字内截断在十三个字</p>
					 <div class="candy_number"><span><b class="point_num">3000</b>唐果</span><span class="inventory">剩余100份</span></div>
				 </a> -->
				<!--<a href="choice_detail.html" class="list_a">
					<div class="choice_list cls">
						<img src="/css/img2.0/pointImg/product.png" class="list_pic">
						<div class="intro">
							<p class="intro_title">施华蔻 8金纯盈精油洗发水200ml</p>
							<p class="intro_content"><span class="point_color">3000</span>唐果</p>
							<p class="intro_content">市场参考价： 158.00 元</p>
							<div class="change_icon"><img src="/css/img2.0/pointImg/convert.png"></div>
						</div>
				    </div>
				</a>
				<a href="choice_detail.html" class="list_a">
					<div class="choice_list cls">
						<img src="/css/img2.0/pointImg/product.png" class="list_pic">
						<div class="intro">
							<p class="intro_title">施华蔻 8金纯盈精油洗发水200ml</p>
							<p class="intro_content"><span class="point_color">3000</span>唐果</p>
							<p class="intro_content">市场参考价： 158.00 元</p>
							<div class="change_icon"><img src="/css/img2.0/pointImg/convert.png"></div>
						</div>
				    </div>
				</a>		
				<p class="more_product">上拉查看更多商品</p>
 -->
			</div>
			<script type="test/html" id="welfare_choice">
				<% if (list.length > 0) {%>
				<div class="new_content cls">
					<% for (var i = 0; i <list.length; i++){
                       var item = list[i];
					   var tags=item.tags || [];
					%>
                       <a href="javascript:(function(){_hmt.push(['_trackEvent', 'Integral Mall', '小僧精选商品link', '福利中心-小僧精选商品', '福利中心-小僧精选商品']);phy_url('<%=item.id%>')})()" class="list_a">
					 <div class="detail_pic">
						 <img src=<%= item.imgUrl==""?"/css/img2.0/pointImg/default_pic.png":item.imgUrl%> onerror='onerror=null;src="/css/img2.0/pointImg/default_pic.png"'>
						 <%if(tags.length>0){%>
						 <div class="label">
							 <% for(var j=0;j<tags.length;j++){%>
								 <%var detag = tags[j];%>
								 <%if(!!detag && detag.type==1){%>
                                    <span class="label_two"><%=detag&&detag.tag%></span>
								 <%}else if(!!detag && detag.type==0){%>
                                   <span class="label_one"><%=detag&&detag.tag%></span>
								 <%}else if(!!detag && detag.type==2){%>
									<span class="mz"><%=detag&&detag.tag%></span>
									<%}else if(!!detag && detag.type==3){%>
										<span class="only_member"><%=detag&&detag.tag%></span>
										<%}else if(!!detag && detag.type==4){%>
											<span class="discount"><%=detag&&detag.tag%></span>
										<%}%>
										<%}%>
					     </div>
						 <%}%>
					 </div>
					 <p class="product_desc physical_title"><%=item.name%></p>
					 <div class="candy_number"><span><b class="point_num"><%=item.pointPayAmount%></b>唐果</span>
					 <%if(item.inventory==0){%><span class="inventory">售罄</span><%}else{%><span class="inventory">剩余<%=item.inventory%>份</span><%}%></div>
				 </a>
					<%}%>
				</div>
				<% }%>
			</script>
			<!-- <span class="label_one">满减</span><span class="mz">满赠</span><span class="discount">折扣</span><span class="only_member">铂金会员专享</span><span class="label_two">每天限一份</span> -->
		<!--小僧福利-->
			<div class="welfare_profit cls" style="display:none;">
				<!--<a href="profit_detail.html" class="list_a">
					<div class="detail_pic vatur_pic">
						 <img src="/css/img2.0/pointImg/daijinquan.png" />
						 <div class="label"><span class="label_one">满减</span><span class="label_two">每天限一份</span></div>
						 <div class="type_vatur">
							 <b class="vatur_money">500</b><span class="vatur_unit">元</span>
							 <p class="vatur_name">代金券</p>
						 </div>
					 </div>
					 <p class="product_desc vatur_desc">标题要截断在十三个字内截断在十三个字</p>
					 <div class="candy_number"><span><b class="point_num">3000</b>唐果</span><span class="inventory">剩余100份</span></div>
				 </a>
				 <a href="profit_detail.html" class="list_a">
					<div class="detail_pic vatur_pic">
						 <img src="/css/img2.0/pointImg/daijinquan.png" />
						 <div class="label"><span class="label_one">满减</span><span class="label_two">每天限一份</span></div>
					 </div>
					 <p class="product_desc vatur_desc">标题要截断在十三个字内截断在十三个字</p>
					 <div class="candy_number"><span><b class="point_num">3000</b>唐果</span><span class="inventory">剩余100份</span></div>
				 </a>-->
				
				<!-- <a href="choice_detail.html" class="list_a">
					<div class="profit_list out_bg_movie">
						<span class="profit_money">20元</span>
						<div class="profit_intro">
							<p class="profit_title">蜘蛛网电影抵扣券</p>
	                        <p class="profit_content"><span class="point_color">3000</span>唐果</p>
						</div>
	                    <div class="change_icon"><img src="/css/img2.0/pointImg/convert.png"></div>
				    </div>
				</a>
				<a href="choice_detail.html" class="list_a">
					<div class="profit_list out_bg_coupon">
						<span class="profit_money">20元</span>
						<div class="profit_intro">
							<p class="profit_title">蜘蛛网电影抵扣券</p>
	                        <p class="profit_content"><span class="point_color">3000</span>唐果</p>
						</div>
	                    <div class="change_icon"><img src="/css/img2.0/pointImg/convert.png"></div>
				    </div>
				</a> -->
				<script type="test/html" id="welfare_profit">
					<% if (list.length > 0) {%>
					<div class="new_content cls">
                       <% for (var i = 0; i <list.length; i++){
                       var item = list[i];
					   var tags=item.tags||[];
					   %>
					      <a onclick="javascript:(function(){_hmt.push(['_trackEvent', 'Integral Mall', '福利中心-小僧礼券商品', '福利中心-小僧礼券商品', '福利中心-小僧礼券商品']);vartur_url('<%=item.id%>');})()" class="list_a">
					<div class="detail_pic vatur_pic">
						<% if (item.itemType == "FINANCIAL"){%>
								<img src="/css/img2.0/pointImg/licaijin.png" />
							<%} else if (item.itemType == "COUPON"){//代金券%>
								<img src="/css/img2.0/pointImg/daijinquan.png" />
							<%} else if (item.itemType == "CINEMA_TICKET") {//电影票%>
							   <img src="/css/img2.0/pointImg/ticket.png" />
							<%} else if (item.itemType == "PHONE_TRAFFIC") {//流量%>
								<img src="/css/img2.0/pointImg/liuliangquan.png" />
							<%} else if (item.itemType == "INTEREST") {//加息券%>
								<img src="/css/img2.0/pointImg/jiaxiquan.png" />
							<%} else if (item.itemType == "REFUELING_CARD") {//加油卡%>
							   <img src="/css/img2.0/pointImg/jiayouka.png" />
							<%} else {//其他%>
                               <img src="/css/img2.0/pointImg/others.png" />
							<%}%>
							 <%if(tags.length>0){%>
								<div class="label">
									<% for(var jk=0;jk<tags.length;jk++){%>
										<%var detag=tags[jk];%>
										<%if(!!detag && detag.type==1){%>
											<span class="label_two"><%=detag&&detag.tag%></span>
										<%}else if(!!detag && detag.type==0){%>
											<span class="label_one"><%=detag&&detag.tag%></span>
										<%}else if(!!detag && detag.type==2){%>
											<span class="mz"><%=detag&&detag.tag%></span>
											<%}else if(!!detag && detag.type==3){%>
												<span class="only_member"><%=detag&&detag.tag%></span>
												<%}else if(!!detag && detag.type==4){%>
													<span class="discount"><%=detag&&detag.tag%></span>
												<%}%>
												<%}%>
								</div>
							<%}%>
						 <div class="type_vatur">
							 <b class="vatur_money"><%=item.virtualAmount%></b><span class="vatur_unit"><%=item.unit%></span>
							 <p class="vatur_name"><%=item.virtualDesc1%></p>
						 </div>
					 </div>
					 <p class="product_desc vatur_desc"><%=item.name%></p>
					 <div class="candy_number"><span><b class="point_num"><%=item.pointPayAmount%></b>唐果</span>
					 <%if(item.inventory==0){%><span class="inventory">售罄</span><%}else{%><span class="inventory">剩余<%=item.inventory%>份</span><%}%></div>
				 </a>
					   <%}%>
					   </div>
					<%}%>
				</script>
				<!-- <p class="more_product">上拉查看更多商品</p> -->
			</div>
		</div>
	</div>
	<script src="/js/vendor/jquery.js" type="text/javascript"></script>
	<script src="/js/vendor/template.js" type="text/javascript"></script>
	<script src="/js/common.js" type="text/javascript"></script>
	<script src="/js/pagejs/creditsMall/welfare_center.js" type="text/javascript"></script>
	<script src="/js/pagejs/creditsMall/exchange.js" type="text/javascript"></script>
	<script>
		// setTimeout(function(){
		// 	$(body).scroll(function(){
		// 		console.log(2);
		// 	})
		// 	document.body.onscroll=function(){
		// 		console.log(1);
		// 	}
		// 	console.log("run");
		// },3000)
	</script>
</body>
</html>