body {
	background: #f6f6f6;
	height: auto;
}

#productsList {
	margin-top: 2.218rem;
	z-index: 9;
	position: relative;
	background: #f6f6f6;
	/* margin-bottom: 3.5rem; */
}

#productsList li {
	padding: 0.512rem 0.725333rem;
	background: #fff;
	margin-top: 0.512rem;
	position: relative;
}

#productsList li:first-child {
	margin-top: 0;
}

.productInfoContainer {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	margin-top: 0.1920rem;
}

.productInfoContainer .desc {
	color: #999;
	font-size: 0.512rem;
}

.productName {
	color: #333;
	font-size: 0.512rem;
}

.productInterestRates {
	-webkit-box-flex: 2;
	box-flex: 2;
	-webkit-flex: 2;
	flex: 2;
	color: #f43f3f;
	font-size: 1.109333rem;
}

.productInterestRates .unit {
	font-size: 0.682667rem;
}

.productInterestRates .productactrate {
	font-size: .384rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #f43f3f;
	color: #f43f3f;
	padding: 0 0.14rem;
	border-radius: 0.15rem;
	margin-left: .2rem;
	height: .6rem;
	line-height: .6rem;
	box-sizing: border-box;
	margin-bottom: .4rem;
}

.productTimeLimit {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	color: #666;
	font-size: 0.682667rem;
	padding-left: .5rem;
}

.productTimeLimit div,
.productAmount div {
	margin-top: .64rem;
	margin-bottom: .23rem;
}

.productTimeLimit .num {
	/*width: 1.024rem;*/
	display: inline-block;
}

.productTimeLimit .unit {
	color: #b9b9b9;
	font-size: 0.597333rem;
}

.productAmount {
	-webkit-box-flex: 2;
	box-flex: 2;
	-webkit-flex: 2;
	flex: 2;
	text-align: right;
	color: #fb6149;
	font-size: 0.682667rem;
}

.productAmount .unit {
	font-size: 0.597333rem;
}

.sellProcesscontainer {
	margin: 0 !important;
}

#noDataContainer {
	margin-top: 5.461333rem;
	text-align: center;
	display: none;
}

#noDataContainer img {
	height: 7.68rem;
}

#noDataContainer p {
	color: #999;
	font-size: 0.682667rem;
	margin-top: 1.066667rem;
}

#productSortContainer {
	display: -webkit-box;
	display: box;
	display: -webkit-flex;
	display: flex;
	background: #fff;
	height: 1.706667rem;
	line-height: 1.706667rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	right: 0;
	z-index: 10;
	border-bottom: .512rem solid #f6f6f6;
}

#productSortContainer li {
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex: 1;
	flex: 1;
	text-align: center;
	color: #333;
	font-size: 0.682667rem;
}

.sortArrow {
	position: relative;
	width: .512rem;
	display: inline-block;
	height: .45rem;
	vertical-align: middle;
	margin-left: .2rem;
}

.sortArrow::before,
.sortArrow::after {
	content: '';
	width: 0.298667rem;
	height: 0.128rem;
	display: inline-block;
	position: absolute;
	top: -.06rem;
	left: 0;
	width: 0;
	height: 0;
	border-top: 0;
	border-left: .149333rem solid transparent;
	border-right: .149333rem solid transparent;
	border-bottom: .213333rem solid #c7c3c4;
}

.sortArrow::after {
	border-bottom: 0;
	border-top: .213333rem solid #c7c3c4;
	top: 0.2rem;
}

.sortArrow.up::before {
	border-bottom: .213333rem solid #ff4949;
}

.sortArrow.down::after {
	border-top: .213333rem solid #ff4949;
}

.sellProcessCircle {
	width: 1.834667rem;
	height: 1.834667rem;
	border-radius: 50%;
	border: 0.128rem solid #e5e5e5;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}

.sell_out_ing {
	border-color: #e5e5e5;
	color: #e5e5e5;
	font-size: 0.426667rem;
}

.unsell_unremind {
	border-color: #ff8585;
	color: #ff8585;
	font-size: 0.512rem;
}

.unsell_remind,
.about_to_sell {
	border-color: #ffd3d3;
	color: #ffd3d3;
	font-size: 0.512rem;
}

.sell_out_ed {
	border-color: #e5e5e5;
	color: #e5e5e5;
	font-size: 0.512rem;
	background: url('/css/img2.0/soldout.png') no-repeat;
	background-size: 100%;
	height: 2.218667rem;
	width: 2.218667rem;
	position: absolute;
	right: .725rem;
	top: .682667rem;
	border: 0;
}
.bookingproduct{
	background: url('/css/img2.0/bookingproduct_ico.png') no-repeat;
	background-size: 100%;
	height: 2.218667rem;
	width: 2.218667rem;
	position: absolute;
	right: .725rem;
	top: .682667rem;
	border: 0;
}

.ondata {
	font-size: 0.512rem;
	padding: 1rem 0 0;
	color: #9c9c9c;
}

#mainBody.hasSortContainer {
	/* padding-top: 1.75rem; */
}

.productSellProcessing {
	position: relative;
	text-align: right;
}

.productSellProcessing .pspBar {
	background: #e7e7e7;
	height: 1px;
	width: 84%;
	display: inline-block;
	position: absolute;
	left: 0;
	top: .58rem;
}

.productSellProcessing .pspBar i {
	background: #ff4949;
	height: 1px;
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	transition: all 400ms 1000ms;
}

.productSellProcessing .pspPercent {
	display: inline-block;
	font-size: .426667rem;
	color: #b9b9b9;
}

.fund-list.product_soldout .productName,
.fund-list.product_soldout .productInterestRates,
.fund-list.product_soldout .productTimeLimit,
.fund-list.product_soldout .productactrate {
	color: #999;
	border-color: #999;
}

.product_label {
	line-height: 2;
	transform: scale(.5);
	-webkit-transform: scale(.5);
	transform-origin: left center;
	-webkit-transform-origin: left center;
	width: 200%;
	overflow: hidden;
	white-space: nowrap;
	margin-top: -.35rem;
	margin-bottom: -.5rem;
}

.ad_div {
	background-color: #fff;
	padding: .426667rem .384rem;
}

.label_desc {
	font-size: .768rem;
	padding: .1rem .2rem;
	border: 1px solid #eee;
	margin-right: .1rem;
	border-radius: 4px;
}

.emotionalImg {
	background: url(/css/img2.0/productfixed_bottomimg.png) center bottom no-repeat;
	background-size: auto 3.0144rem;
	height: 3.5144rem;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.bottom_pic {
	/* width: 6.016rem; */
	height: 3.413333rem;
	margin: 0 auto;
	display: block;
	margin-top: .426667rem;
}

.bottom {
	position: fixed;
	width: 100%;
	max-width: 720px;
	bottom: 0;
	z-index: -1;
	left: 0;
	right: 0;
	margin: 0 auto;
	background:#f6f6f6;
}
.surprise{
	/* background-image:radial-gradient(1% 188%, #ff734e 0%, #ff3f3f 100%); */
	background-image: linear-gradient(to right, #ff734e ,#ff3f3f);
	border-radius:3px;
	font-size:.426667rem;
	color:#ffffff;
	padding: .426667rem .512rem;
	line-height: 1;
	/* margin-top: .128rem; */
}
.surprise a{
	float: right;
	font-size: .512rem;
	margin-top: -.05rem;
	color:#fff;
}

@font-face {
    font-family: 'iconfont';
    src: url(/css/iconfont.ttf) format('truetype');
}

i.leftArrow {
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: .38rem;
    color:#fff;
    line-height: 1;
    font-size: .512rem;
}

i.leftArrow:before {
    font-family: iconfont;
    content: '\e615';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}