section {
    background: #fff;
    margin-bottom: .512rem;
    line-height: 1;
}

.clear {
    clear: both;
}

#headBannerContainer {
    /* width: 200%; */
    overflow: hidden;
    position: relative;
    min-height: 4.693333rem;
}

#headBannerPanel li {
    float: left;
}

#headBannerPanel img {
    height: 4.693333rem;
    display: block;
}

.headsp {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}

.headsp .headspitem {
    width: .25rem;
    height: .25rem;
    background-color: #cfcfcf;
    border-radius: 1rem;
    margin: 0 .05rem;
    display: inline-block;
}

.headsp .headspitem.cur {
    border-radius: 1rem;
    background-color: #f43f3f;
}

.tangguoInfoContainer {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -webkit-box-lines: single;
    padding: .298667rem 0;
    background: #fff;
}

.tangguoInfoContainer div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    -webkit-flex: 1;
    text-align: center;
    font-size: .597333rem;
    color: #333;
    line-height: 1.28rem;
    position: relative;
}

.tangguoInfoContainer .tangguoNum span {
    color: #ff7a04;
}

.tangguoInfoContainer .link_exchangeOrder::before {
    content: "";
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    border-left: 1px solid #e7e7e7;
    height: 100%;
    position: absolute;
    left: 0;
}

.tangguoInfoContainer a {
    font-size: .597333rem;
    color: #333;
}

.linkBarContainer {
    display: -ms-flexbox;
    display: flex;
    display: -webkit-box;
    -webkit-box-lines: single;
    font-size: 0;
    padding: .512rem 0;
    background: #fff;
    position: relative;
}

.linkBarContainer::before {
    content: "";
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid #e7e7e7;
}

.linkBarContainer div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    moz-box-flex: 1.0;
    -webkit-box-flex: 1.0;
    box-flex: 1.0;
    -webkit-flex: 1;
}

.linkBarContainer img {
    width: 1.536rem;
    height: 1.536rem;
}

.linkBarContainer p {
    font-size: .512rem;
    color: #333;
    margin-top: .341333rem;
    line-height: 1;
}

@font-face {
    font-family: 'iconfont';
    src: url(/css/iconfont.ttf) format('truetype');
}

i.leftArrow {
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.64rem;
    margin-left: 0.1rem;
}

i.leftArrow:before {
    font-family: iconfont;
    content: '\e615';
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.title {
    font-size: .682667rem;
    padding: .768rem .64rem;
    position: relative;
}

.title:after {
    border-bottom: 1px solid #e7e7e7;
    content: "";
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

.title .more {
    float: right;
    color: #999999;
    font-size: .597333rem;
}

.listContainer li {
    float: left;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: .64rem;
    background: #fff;
    position: relative;
    overflow: hidden;
}

#welfareList.listContainer li{
    padding-top: 1.28rem;
}

#welfareList li .quan,
#selectedItems li .product {
    position: relative;
    /* overflow: hidden; */
}

#welfareList li .quanImg,
#selectedItems li .productImg {
    width: 100%;
}

.listContainer li .quanDesc {
    position: absolute;
    left: 1.024rem;
    top: 1.28rem;
    font-size: 1.109333rem;
    color: #fff;
}

.listContainer li .quanDesc span {
    font-size: .597333rem;
}

.listContainer li .quanType {
    position: absolute;
    font-size: .512rem;
    left: 1.024rem;
    top: 2.730667rem;
    color: #fff;
}

.listContainer li:nth-child(2n)::after {
    border-left: 1px solid #e7e7e7;
    content: "";
    width: 1px;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.listContainer li:nth-child(n+3)::before {
    border-top: 1px solid #e7e7e7;
    content: "";
    height: 1px;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.listContainer li .quanName,
.listContainer li .productName {
    font-size: .597333rem;
    color: #333;
    margin-top: .384rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.2;
    height:1.4rem;
}

.listContainer li .exchangeAmount {
    font-size: .512rem;
    color: #666;
    margin-top: .384rem;
    line-height: .512rem;
}

.listContainer li .exchangeAmount span {
    font-size: .597333rem;
    color: #ff4949;
}

.listContainer li .exchangeAmount b {
    font-size: .426667rem;
    color: #999999;
    float: right;
}

#bottomBanner {
    display: none;
}

.tagsContainer {
    position: absolute;
    left: 0;
    top: 0;
    right: -4rem;
    overflow: hidden;
    height: 1rem;
    line-height: 1;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
}

.quan .tagsContainer{
    top: -.768rem;
}

.tag0 {
    background-image: linear-gradient(-135deg, #ff734e 0%, #ff3f3f 100%);
    border-radius: .085333rem;
    color: #fff;
    font-size: .682666rem;
    padding: 0.1rem 0.170666rem;
    margin-right: .085333rem;
    display: inline-block;
   
}

.tag1 {
    border: .042667rem solid #ff7a04;
    border-radius: 2px;
    font-size: .682666rem;
    padding: 0.1rem 0.170666rem;
    color: #ff7a04;
    margin-right: .085333rem;
    display: inline-block;
    /*transform: scale(0.5);
    transform-origin: left top;*/
}

.tag2 {
    background: #fba516;
    border-radius: .085333rem;
    color: #fff;
    font-size: .682666rem;
    padding: .042667rem .085333rem;
    margin-right: .085333rem;
    display: inline-block;
    /*transform: scale(0.5);
    transform-origin: left top;*/
}

.tag3 {
    border: .042667rem solid #d2a55b;
    border-radius: 2px;
    font-size: .682666rem;
    padding: 0.1rem 0.170666rem;
    color: #d2a55b;
    margin-right: .085333rem;
    display: inline-block;
    /*transform: scale(0.5);
    transform-origin: left top;*/
}

.tag4 {
    background: #BB86FF;
    border-radius: 2px;
    font-size: .682666rem;
    padding: 0.1rem 0.170666rem;
    color: #fff;
    margin-right: .085333rem;
    display: inline-block;
    /*transform: scale(0.5);
    transform-origin: left top;*/
}

.tag4 {
    background: #BB86FF;
    border-radius: 2px;
    font-size: .682666rem;
    padding: 0.1rem 0.170666rem;
    color: #fff;
    margin-right: .085333rem;
    display: inline-block;
    /*transform: scale(0.5);
    transform-origin: left top;*/
}


/* 情感化图片 */

.bottom_pic {
	/* width: 6.016rem; */
	height: 3.413333rem;
	margin: 0 auto;
	display: block;
	margin-top: .426667rem;
}

.bottom {
	position: fixed;
	width: 100%;
	max-width: 720px;
	bottom: 2.1333333333333333rem;
	z-index: -1;
	left: 0;
	right: 0;
    margin: 0 auto;
    background:#f6f6f6;
}