#Gamblepage{
    max-width: 720px;
    margin: 0 auto;
}
#gameContainer {
    background: url("/css/img2.0/pointImg/luckdrawBG.gif") no-repeat;
    background-size: 100%;
    height: 19.2427rem;
    position: relative;
}

.rockTimesDescContainer {
    position: absolute;
    left: 2.688rem;
    right: 2.688rem;
    top: 2rem;
    color: #fff;
    font-size: 0.512rem;
    line-height: 1.28rem;
}

.rockTimesDescContainer .timesContainer {
    float: left;
}

.rockTimesDescContainer .spLine {
    height: 1.024rem;
    width: 2px;
    background: #4c4c4c;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    position: absolute;
    left: 50%;
    top: 10%;
}

.rockTimesDescContainer .descContainer {
    text-align: center;
}

@font-face {
    font-family: 'iconfont';
    src: url(/css/iconfont.ttf) format('truetype');
}

i.questionMark {
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.64rem;
    margin-left: 0.213333rem;
}

i.questionMark:before {
    font-family: iconfont;
    content: '\e679';
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.feef35 {
    color: #feef35;
}

i.musicOn,
i.musicOff {
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.938667rem;
    position: absolute;
    left: 0.64rem;
    top: 0.384rem;
}

i.musicOn:before,
i.musicOff:before {
    font-family: iconfont;
    content: '\e681';
    color: #c493e5;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

i.musicOff:before {
    content: '\e680';
}

i.mtn {
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.384rem;
}

i.mth:before {
    font-family: iconfont;
    content: '\e615';
    color: #fff;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

#link_rules {
    position: absolute;
    top: 0.3413rem;
    right: 0.64rem;
    color: #c493e5;
    font-size: 0.512rem;
}

#list_of_winners {
    position: absolute;
    left: 1.621333rem;
    right: 1.621333rem;
    bottom: 2.218667rem;
    line-height: 1rem;
    height: 1rem;
    background: rgba(75, 49, 95, 0.7);
    border-radius: 0.426667rem;
    color: #c493e5;
    font-size: 0.512rem;
    text-align: center;
    overflow: hidden;
}

#link_winnerDetail {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 0.682667rem;
    color: #fff;
    bottom: 0.768rem;
}

.prizesContainer {
    position: absolute;
    top: 5.0347rem;
    left: 2.0053rem;
    right: 2.0053rem;
    height: 5.0347rem;
    overflow: hidden;
}

.prizesContainer ul {
    width: 3.6267rem;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    /*transform:translate3d(0,0,0);
    transition:all 2000ms linear;*/
}

.prizesContainer li {
    height: 5.0347rem;
    line-height: 5.0347rem;
}

.prizesContainer img {
    width: 100%;
    vertical-align: middle;
}

.prizesContainer #pc2 {
    left: 4.2rem;
}

.prizesContainer #pc3 {
    left: auto;
    right: 0;
}

.prizesListContainer {}

.prizesListContainer .title {
    color: #333333;
    font-size: .682667rem;
    border-bottom: 1px solid #e7e7e7;
    padding: .64rem;
}

.prizesListContainer .title a {
    float: right;
    color: #999999;
    font-size: .597333rem;
    margin-top: .12rem;
}

.prizesList {
    margin-left: .64rem;
}

.prizesList li {
    padding: .426667rem 0;
    border-bottom: 1px solid #e7e7e7;
}

.prizesList .prizeImg {
    width: 4.266667rem;
    height: 3.413333rem;
    float: left;
}

.prizesList .descContainer {
    margin-left: 4.906667rem;
    line-height: 1;
}

.prizesList .descContainer .prizeName {
    font-size: .597333rem;
    color: #333;
    margin: .341333rem 0 .384rem;
}

.prizesList .descContainer .prizeValue {
    font-size: .512rem;
    height: .512rem;
    color: #999;
    margin-bottom: .768rem;
    visibility: hidden;
}
.prizesList .prizeSellNum{
    display: none;
}

.prizesList .descContainer .prizeIndate {
    font-size: .469333rem;
    color: #999;
    margin-bottom: .3rem;
}

.prizesList .descContainer .prizeIndate span {
    float: right;
    margin-right: .64rem;
}

.rule_pop {
    background: #fff;
    padding: .6em .6em .9em;
    width: 80%;
    position: fixed;
    left: 10%;
    top: 10%;
    z-index: 22;
    border-radius: .4em;
    color: #959595;
    display: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.rule_pop h3 {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    text-align: center;
    padding: .384rem 0;
    color: #666
}

.rule_pop ol {
    font-size: .554667rem;
    padding: 5px 0;
    margin-left: 14px;
    color: #666;
    line-height: 1
}

.rule_pop ol li {
    list-style: decimal;
    margin: 7px 0;
    line-height: 1.5;
    color: #959595;
}

i.icon-turnoff2 {
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.6rem;
    position: absolute;
    right: .5rem;
    top: .25rem;
}

i.icon-turnoff2:before {
    font-family: iconfont;
    content: '\e629';
    color: #999;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.az-showmasker-Text:before {
    font-family: iconfont;
    content: '\e629';
    color: #000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: inline-block;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    width: 0.6rem;
    position: absolute;
    right: -.15rem;
    top: -.4rem;
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    font-weight: bold;
}

.ul_list_of_winners {
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

#btn_choujiang {
    width: 80%;
    height: 2.2rem;
    position: absolute;
    left: 10%;
    bottom: 5rem;
}

.shareContainer {
    display: none;
}

.coverMark_dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
}

.coverMark_dark img {
    position: absolute;
    width: 80%;
    right: 10%;
    top: 1%;
}

.control_show_local{
    display: block !important;
    opacity: 1 !important;
}
.appleTips{
    text-align: center;
    color:#fff;
    font-size: 0.512rem;
    position: absolute;
    width: 100%;
    bottom: 0.1rem;
}