.pop{position:absolute;top:0;background-color:#fff;width:83%}
.wrap{overflow-x:hidden;padding-bottom:15px}
.padding-l0{padding-left:0}
.az-text-center{text-align:center}
.fl{float:left}
.color-c9{color:#c9c9c9!important}
/*#couponlist .ondata.text-center{margin-bottom:28%!important}*/
.ondata{background-color:#fff;color:#888;font-size:14px;padding:15px 0}
.bottom0{bottom:0}
.po-fix{position:fixed;z-index:22;width:100%;left:17%}
.bg-white2{background:#fff;padding:.9375rem 0;margin:0 .9375rem;position:relative;overflow:hidden;display:block}
.color-org{color:#ff9c00!important}
.color-org{color:#ff9c00!important}
.bg-white2 .small-9{color:#888}
.fl{float:left}
.small-9{width:75%}
.mask{width:100%;height:100%;background:#000;opacity:.5;position:fixed;top:0;z-index:20}
.color-org2{color:#ff6000!important}
.use-choose{width:35%;vertical-align:middle;margin-top:1.8em}
.use-choose.invst{margin-top:2.5em}
img{border:0;vertical-align:middle;border-radius:.3em}
