@charset "utf-8";
body{text-shadow:none;-webkit-user-select:none;-moz-user-select:none;user-select:none;-webkit-tap-highlight-color: rgba(0,0,0,0);}
.pro1 {text-align: center;margin: 1.3rem 0 0;}
.pro2 {text-align: center;}
.g-col1{ color:#888888;}
.g-col2{color:#424242;}
.r-col1{ color:#c34949;}
.tc{ text-align:center;}
.tl{ text-align:left;}
.tr{ text-align:right;}
.txt13m{ font-size:1.3rem;}
.txt14m{ font-size:1.4rem;}
.txt40m{ font-size:4rem;}
.txt45m{ font-size:4.5rem;}
.btmpro-ab { width:100%; text-align:center; position: fixed; bottom: 1rem;}
.btmpro-ab2 { width:100%; text-align:center; position: fixed; bottom: 1rem;}
.btmpro{text-align: center;color:#b9b9b9; width: 100%;font-size: 1.2rem;}
.btmpro span{ color:#89b13e;margin-right: .2rem;}
.null-bg{ background:#eee!important;}
.item-info{}
.item-info .list{ }
.item-info .list li{padding:1rem 1.2rem; font-size:1.4rem; border-bottom: 1px #e4e4e4 solid; overflow:hidden;background: #f7f7f7;}
.item-info .list .l{ width:40%; color:#979797;}
.item-info .list .r{width:60%; color:#444444;}
.item-info .list span{ display:block; float:left; }
.item-info .list .col1{ color:#00a950; font-weight:400;}
.item-info .list .col2{ color:#979797; font-size:1.2rem; font-weight:400;}
.item-info .zm{ background:#f6f6f6; color:#3da2e9; font-weight:500; border-radius:7px; padding:0rem 0.5rem; margin:0 1rem 0 0;border:1px solid #3da2e9}
.hk_table{background: #f0eff5}
.hk_table .txt1{ font-size:1.4rem; color:#888; padding:0.8rem;}
.hk_table .txt2{ font-size:1.2rem; color:#888; padding:0.8rem;}
.hk_table .hk_tab{padding:1rem 0 0;background:#f5f5f5;color:#747474;}
.hk_table .hk_tab li{ padding:0.8rem; overflow:hidden; }
/*.hk_table .hk_tab li span{ width:25%; float:left;font-size:1.2rem; text-align:center;}*/
/*修改还款计划样式 Ailsa*/
.useinterest{ width:25%; float:left;font-size:1.2rem; text-align:center;}
.nouseinterest{ width:33%; float:left;font-size:1.2rem; text-align:center;}
.hk_table .hk_tab li.bg{ background:#fff }
.hk_table .hk_tab li{font-size:1.3rem;}
.timeDeposit-index{ background:#f0eff5;}
.timeDeposit-index-modtop{ height:20rem; background: url(/css/img2.0/modtop.jpg) no-repeat;background-size: cover; }
.timeDeposit-index .pdt25rem{ padding:2.5rem 0 0 0; }
.timeDeposit-index .pdt20rem{ padding:2rem 0 0 0;}
.timeDeposit-index .col1{ color:#9e9e9e;}
.timeDeposit-index .sy_mod{  overflow:hidden;padding:1.3rem 0 1.5rem 0;}
.timeDeposit-index .sy_mod div{ padding:0 1.5rem; position:relative; float:left; width:50%; }
.timeDeposit-index .sy_mod div p{ color:#9e9e9e; font-size:1.3rem;}
.timeDeposit-index .sy_mod div p.t1{ font-size:1.8rem; color:#c34949;}
.timeDeposit-index .sy_mod div .bor{ position:absolute; right:1px; top:9px; width:1px; height:3rem; border-left:1px solid #eeeceb; }
.timeDeposit-index .sy_mod div.l1{ float:left; width:50%;}
.timeDeposit-index .timeDeposit-list{font-size:1.4rem; }
.timeDeposit-index .timeDeposit-list li{ margin:0.7rem 0 0 0 ; padding:1rem 0;background:#f7f7f7; position:relative;}
.timeDeposit-index .timeDeposit-list li p{ overflow:hidden}
.timeDeposit-index .timeDeposit-list li p .ts1{font-size:1.2rem;color:#9c9c9c;}
.timeDeposit-index .timeDeposit-list li p .ts11{color:#b9b9b9;}
.timeDeposit-index .timeDeposit-list li p .ts22{color:#f1763b;}
.timeDeposit-index .timeDeposit-list li p .ts33{color:#c34949;}
.timeDeposit-index .timeDeposit-list li p .ts2{padding-left:0;}
.timeDeposit-index .timeDeposit-list li p span{padding:0 1.5rem;  float:left;color:#979797;}
.timeDeposit-index .timeDeposit-list li p>:first-child{width: 58%}
.timeDeposit-index .timeDeposit-list li p>:nth-child(2){width: 42%}
.timeDeposit-index .timeDeposit-list li p span.col1{ color:#444444;}
.timeDeposit-index .addtimeDeposit-list{ display:block;color:#b9b9b9; text-align:center; margin:1rem 0 0 0; padding:1.5rem 0; font-size:1.3rem;}
.timeDeposit-index .buytimeDeposit-list{ width:100%; color:#c34949; display:block;text-align:center; border-top:1px solid #e4e4e4; padding:1.2rem 0; font-size:1.7rem; background:#f7f7f7; position:fixed; bottom:0; }
.timeDeposit-index .history{margin:0 2rem; height:1px;margin-top:2rem; border-top:1px solid #e4e4e4;color:#888888; height:1.5rem; font-size:1.3rem;  }
.timeDeposit-index .history span{padding:0 1rem ; color:#979797; background:#f0eff5; display:inline-block; position:relative; top:-1.2rem; }
.wsg-ico{ height:3.5rem; margin:10rem 0 0; background:url(/css/img2.0/dq-icon.png) no-repeat top center; background-size:11%;}
.wsg-txt{ font-size:1.6rem; color:#b4b4b4; text-align:center;}
.security{  background: #f0eff5;}
.security .dl{font-size:1.4rem; background:#f7f7f7;padding:0 0 1rem; margin-bottom:1rem;}
.security .dl dt{ color:#444444;margin: 0 1.2rem; border-bottom:1px solid #e4e4e4; font-weight:400; font-size:1.6rem; padding:0.5rem .2rem; margin-bottom:1rem;}
.security .dl dt b{ display:inline-block; background:url(/css/img2.0/aqbz-ico.png) no-repeat; position:relative; top:0.8rem; background-size:58%; width:2.2rem; height:2.2rem}
.security .dl dd{ padding:0 2rem 0 4rem; color:#979797; }
.security .dl dd.d1{ padding:0 2rem 0 2rem; color:#424242; }
.security .dl dd .p1{ font-size:1.55rem; margin-bottom:0.75rem;color:#979797 }
.security .dl dd .p2{color:#888888; }
.security .dl .zm{ color: #fff; font-weight: bold; border-radius: 3px; padding: 0.1rem 0.5rem; margin: 0 1rem 0 0;}
.security .dl .bg1{background: #3da2e9;}	
.security .dl .bg2{background: #40c8ea;}	
.security .dl .bg3{background: #30b8c1;}	
.security .dl .bg4{background: #30c194;}
.security .dl .bg5{background: #239471;}
.security .dl dd b{ background:#ffdb46; width:4px; height:4px; display:inline-block; position:relative; left:-1.4rem; top:-0.4rem; border-radius:2px;}
.security .dl dd span{ color:#888888;}
.security .dl b.icon{ position:relative; top:2px; background:url(/css/img2.0/c-icon01.png) no-repeat 0 0; display:inline-block; width:1.6rem; height:1.6rem;margin:0 0.7rem 0 0;}
.security .dl b.icon1{ background:url(/css/img2.0/c-icon01.png) no-repeat 0 0; background-size:1.6rem 1.6rem;  }
.security .dl b.icon2{ background:url(/css/img2.0/c-icon02.png) no-repeat 0 0;background-size:1.6rem 1.6rem;}
.security .dl b.icon3{ background:url(/css/img2.0/c-icon03.png) no-repeat 0 0;background-size:1.6rem 1.6rem;}
.security .dl b.icon4{ background:url(/css/img2.0/c-icon04.png) no-repeat 0 0;background-size:1.6rem 1.6rem;}
.sh_success{  background: #f0eff5; }
.sh_success .tit_mod{ background:#fff; padding:2rem 0; text-align:center;}
.sh_success .tit_mod .ico{font-size:4rem; color:#fd6260; padding:2rem;}
.sh_success .tit_mod .ico:before{content:"\e669";}
.sh_success .tit_mod p{ font-size:2.2rem; color:#565656; }
.sh_success .success_list{background:#fff;}
.sh_success .success_list li{ font-size:1.4rem; padding:0.5rem 1.5rem; overflow:hidden;}
.sh_success .success_list li.nobor{ border:none; }
.sh_success .success_list li span{ float:left;}
.sh_success .success_list li span.s3{ width:30%; color:#565656;}
.sh_success .success_list li span.s7{ width:70%; text-align:right; color:#9c9c9c;}
.sh_success .btn{margin:0 1rem; display:block; text-align:center; margin-top:0.8rem;font-size:1.5rem; padding:1rem 0; color:#fff; border-radius:6px; background:#cf3629;}
.sh_success .banner{ margin:2rem 0 0 ;}
.sh_success .prompt{ text-align:center; color:#b9b9b9; position:fixed; bottom:0; width:100%; }
.sh_success .prompt .tel{color:#469af3; }
.sh_success .prompt .btmpro{padding:0.5rem 0; }
.sh_success .ico_mod{ background:#fff; padding:1rem 0; margin:0 0 1rem;}
.sh_success .ico_mod .ico1{ width:100%; height:4rem; background:url(/css/img2.0/yy-icon1.png) no-repeat center 0; background-size:58%;}
.sh_success .ico_mod .ico2{ width:100%; height:4rem; background:url(/css/img2.0/yy-icon2.png) no-repeat center 0; background-size:58%;}
.sh_success .ico_mod .ico3{ width:100%; height:4rem; background:url(/css/img2.0/yy-icon3.png) no-repeat center 0; background-size:58%;}
.sh_success .ico_mod .txt{ overflow:hidden; font-size:1.2rem; color:#565656;}
.sh_success .ico_mod .txt .rows2{color:#b9b9b9;}
.sh_success .ico_mod .txt div{ float:left; width:50%; text-align:center;}
.timeDeposit-info{ background: #f0eff5; }
.timeDeposit-info .top-mod{  background:url(/css/img2.0/top-mod-bg.jpg) no-repeat; background-size:cover; height:19rem; color:#1a81c9;}
.timeDeposit-info .top-mod .row1{ overflow:hidden; text-align:center;padding:2.2rem 0 0.5rem; font-size:1.2rem; color:#979797;}
.timeDeposit-info .top-mod .row4{  overflow:hidden; text-align:center; font-size:6.8rem; line-height:6.8rem; height:7rem; color:#c34949;}
.timeDeposit-info .top-mod .row4 .s{ font-size:3.5rem; position:relative; }
.timeDeposit-info .top-mod .row4 .sml{ font-size: 1.1rem; position:absolute; top:2rem; left:3rem;background: #fd6260;color: #fff;display: inline-block; border-radius: 2px;padding: 0 0.2rem; height:1.5rem; line-height:1.5rem;margin: 0 0 0 0.5rem;  }
/*
.timeDeposit-info .top-mod .row1{ overflow:hidden;padding:0 1rem; margin:0 0 1.5rem;}
.timeDeposit-info .top-mod .row1 div{ float:left; width:50%;color: #666666;}
.timeDeposit-info .top-mod .row1 div.l { font-size:1.4rem}
.timeDeposit-info .top-mod .row1 div.l .zm{ background: #3da2e9;color: #fff;font-weight: bold;border-radius: 3px;padding: 0.1rem 0.5rem; margin: 0 0 0 1rem;}
.timeDeposit-info .top-mod .row1 div.r { text-align:right; font-size:1.2rem; color:#666666;}
*/
.timeDeposit-info .top-mod .row2 { position:relative; width:85%; margin:0 auto; overflow:hidden; height:5rem; text-align:right; font-size:1.2rem; color:#cccccb;}
.timeDeposit-info .top-mod .row2 div{text-align:center; float:left; width:50%;}
.timeDeposit-info .top-mod .row2 .da1,.timeDeposit-info .top-mod .row2 .da2{ color:#c6c6c6; text-align:center; font-size:2.1rem; line-height:2.5rem; height:2.5rem; position:relative; top:2rem;}
.timeDeposit-info .top-mod .row2 .da1:before{content:"\e66a";}
.timeDeposit-info .top-mod .row2 .da2:before{content:"\e66b";}
.timeDeposit-info .top-mod .row2 .da1{}
.timeDeposit-info .top-mod .row2 .da2{}
.timeDeposit-info .top-mod .row2 .ar{ position:absolute; width:1px; height:3rem; top:2.3rem; left:50%; border-right:1px solid #eaeaea}
.f-s-2rem {font-size:2rem!important;}
.f-s-1-5rem {font-size:1.5rem!important;height: 3rem;line-height: 3rem;}
.top0 {top:0!important;}
.timeDeposit-info .top-mod .row3 { width:85%; margin:0 auto; overflow:hidden; text-align:right; font-size:1.1rem; }
.timeDeposit-info .top-mod .row3 div{ text-align:center;float:left; width:50%; color:#979797;}
.timeDeposit-info .info_list{margin-top:1rem; }
.timeDeposit-info .info_list li{  overflow:hidden; background:#f7f7f7;  font-size:1.4rem; padding:1rem 1rem; border-bottom:1px solid #ececed;}
.timeDeposit-info .info_list li b{margin:0 0 0 0.3rem;}
.timeDeposit-info .info_list li a{color:#444444;}
.timeDeposit-info .info_list li span{ float:left; width:35%;}
.timeDeposit-info .info_list li span.m1{color:#979797; text-align:right; width:65%;}
.timeDeposit-info .info_list li span s{ color:#e94a3d; text-decoration:none;}
.timeDeposit-info .info_list_jl{ text-align:center; overflow:hidden; background:#fff9f3; color:#f1763b;height:4.1rem; font-size:1.5rem; padding:1rem 1rem; border-bottom:1px solid #ececed;}
.timeDeposit-info .info_list_jl span.m1{ width:80%; color:#f1763b; font-size:1.3rem;}
.timeDeposit-info .info_list_jl span.m2{float:left; width:20%; color:#1a81c9;}
.timeDeposit-info .timeDeposit_txt{ text-align:center; color:#888888;line-height: 12;width: 100%;}
.timeDeposit-info .timeDeposit_sh_btn{ width:100%; text-align:center; height:4rem; line-height:4rem; position:fixed; bottom:0; font-size:1.6rem; background:#CD3830; color:#fff;}
.timeDeposit-info a.timeDeposit_sh_btn1{ width:100%; text-align:center; height:4rem; line-height:4rem;position:fixed; bottom:0; font-size:1.6rem; background:#979797; color:#fff;}
.timeDeposit-info .timeDeposit_sh_btn_s1{ width:100%; text-align:center; height:4rem; line-height:4rem; position:fixed; bottom:0;font-size:1.6rem; background:#cd3830; color:#fff; }
.timeDeposit-info a.col1{ background:#b9b9b9;}
.timeDeposit-info .timeDeposit_sh_btn_s1 span img,.timeDeposit-info a.timeDeposit_sh_btn1 .icn img{ text-align:left; height:4rem; line-height:4rem; }
.timeDeposit-info .timeDeposit_sh_btn_s1 span{ }
.timeDeposit-info .timeDeposit_sh_btn_s1 .icn,.timeDeposit-info a.timeDeposit_sh_btn1 .icn{ float:left; height:4rem; position:relative; top:-1px; border-right:1px solid #FFF;  }
.timeDeposit-info .timeDeposit_sh_btn_s1 .txt{ display:block; font-size:1.2rem;  text-align:center; }
.timeDeposit-info .timeDeposit_sh_btn_s1 .p1{  font-size:1.4rem; }
.timeDeposit-info .timeDeposit_sh_btn_s1 .p2{ font-size:1.1rem;}
.timeDeposit-info .timeDeposit_sh_btn_s1 .jjks { line-height:4rem; height:4rem;}
.timeDeposit-info .timeDeposit_sh_btn_s1 .jjks .ico1{margin:0 0.6rem 0 0 ;font-size:1.6rem;}
.timeDeposit-info .timeDeposit_sh_btn_s1 .jjks .ico1:before{content:"\e66b";}
.timeDeposit-info .timeDeposit-info-pop{ background:#fff; border-radius:4px; padding:1.5rem 1.5rem 0;}
.timeDeposit-info .timeDeposit-info-pop .tit{ padding:; border-bottom:1px solid #e8e8e8; font-size:1.6rem; color:#666666;  }
.timeDeposit-info .timeDeposit-info-pop .ti-list{ overflow:hidden; border-bottom:1px solid #e8e8e8; font-size:1.4rem; padding:1.4rem 0;  }
.timeDeposit-info .timeDeposit-info-pop .ti-list li{  }
.timeDeposit-info .timeDeposit-info-pop .ti-list li span{ color:#888888; width:50%; float:left; }
.timeDeposit-info .timeDeposit-info-pop .ti-list li .c1{ color:#e74b43;}
.timeDeposit-info .timeDeposit-info-pop .ti-list li .c2{ color:#0ec055;}
.timeDeposit-info .timeDeposit-info-pop .ti-list li .c3{ color:#f09124; text-align:right}
.timeDeposit-info .timeDeposit-info-pop .ti-list li .c4{ color:#424242;}
.timeDeposit-info .timeDeposit-info-pop .ti-list li .c5{ color:#666666;}
.timeDeposit-info .timeDeposit-info-pop .pop_txt{font-size:1.3rem; color:#888888;border-bottom:1px solid #e8e8e8; padding:1.2rem; }
.timeDeposit-info .timeDeposit-info-pop .btn_mod{ display:-webkit-box; padding: 1rem;}
.timeDeposit-info .timeDeposit-info-pop .btn_mod span{ color:#909090;text-align:center; width:49%; display:block;font-size:1.6rem; }
.timeDeposit-info .timeDeposit-info-pop .btn_mod span.l{ border-right:1px solid #e8e8e8;}
.timeDeposit-info .timeDeposit-info-pop .btn_mod span.col1{ color:#eb4936; }
.investment{ background:#f0eff5;}
.investment .item-mod{ background:#f7f7f7; padding:1rem 0; border-bottom:1px solid #e8e8e8;}
.investment .item-mod .row1,.investment .item-mod .row2{ overflow:hidden;}
.investment .item-mod .row1{ margin-bottom:1rem;}
.investment .item-mod .row1 span,.investment .item-mod .row2 span{ width:50%; padding:0 0 0 1rem; float:left;}
.investment .item-mod .row1 span.l{ position:relative; font-size:1.4rem; text-align:left; }
.investment .item-mod .row1 span.l b{  color:#fd8383; font-size:1.15rem; right:-2rem; position:absolute;}
.investment .item-mod .row1 span.r{ font-size:1.2rem; text-align:right;}
.investment .item-mod .row2 span.l{ position:relative; font-size:3.7rem; text-align:left; }
.investment .item-mod .row2 span.l b{ position:absolute; top:2.5rem; right:0; width:1px; height:2rem; border-left:1px solid #e8e8e8;}
.investment .item-mod .row2 span.l s{font-size:1.8rem; text-decoration:none;}
.investment .item-mod .row2 span.l strong{font-size:1.1rem; background:#fd6260; color:#fff; display:inline-block; border-radius:2px; padding:0 0.4rem; margin:0 0 0 0.5rem; }
.investment .item-mod .row2 span.l img{ width:3rem }
.investment .item-mod .row2 span.r{ height:3rem; text-indent:1rem; line-height:3rem; position:relative; top:2rem; font-size:1.4rem; }
.investment .item-mod .col1{ color:#444444;}
.investment .item-mod .col2{ color:#ababab;}
.investment .item-mod .col3{ color:#c44a49;}
.investment .sy_moy{ overflow:hidden; font-size:1.35rem; background:#f7f7f7; padding:1.3rem 1.5rem;}
.investment .sy_moy .l{ float:left }
.investment .sy_moy .r{ float:right; color:#4a9cf0; font-size:1.2rem;}
.investment .st-top{ margin-top:1.2rem;}
.investment .sr-val{ background:#f7f7f7; padding:1rem 1.5rem 0.7rem; margin:0.7rem 0 0 0; font-size:1.4rem;}
.investment .sr-val { display:-webkit-box;}
.investment .sr-val input{width: 24rem;rem;margin-bottom:0; border:0 none; background:#f7f7f7; box-shadow:none; font-size:1.4rem;}
.investment .sr-val input::-webkit-input-placeholder{ color: #b9b9b9; } 
.investment .sr-val input:focus{ background:#f7f7f7; } 
.investment .sr-val span.t{ margin:0 0.5rem 0 0; color:#444444; }
.investment .sr-val span.col1{color:#444444; }
.investment .sh-val{ position:relative; background:#f7f7f7; padding:1rem 1.5rem 0.7rem; font-size:1.4rem;}
.investment .sh-val { display:-webkit-box;}
.investment .sh-val input{background:#f7f7f7; margin-bottom:0; border:0 none; box-shadow:none; font-size:1.5rem;}
.investment .sh-val input::-webkit-input-placeholder{ color: #dcdcdc; } 
.investment .sh-val input:focus{ background:#f7f7f7; } 
.investment .sh-val span.t{  color:#444444; margin:0 1rem 0 0; }
.investment .sh-val span.col1{  color:#9c9c9c; }
.investment .sh-val div{  color:#9c9c9c; }
.investment .sh-val .all{ position:absolute; top:1rem; right:1.5rem; float:right; }
.investment .show-val{ font-size:1.15rem; display:-webkit-box; margin:1.4rem 1rem; color:#888888; }
.investment .show-val .col1{ color:#4a9cf0; }
.investment .hongbao{ color:#444444; padding:1rem 1.5rem 0.7rem;  margin:0.7rem 0 0 0; font-size:1.4rem;background:#f7f7f7;}
.investment .hongbao span.t{ margin:0 0.5rem 0 0;}
.investment .hongbao .col1{ color:#4a9cf0; }
.investment .renz{ color:#888888; text-align:center; font-size:1.4rem; padding:1.4rem 1rem;}
.investment .highrisk,.investment .assessment{color:#ababab;  font-size:1.4rem; padding:1.4rem ;}
.investment .assessment .question-icon{ display:inline-block; width:1rem; height:1rem; color:#ababab; } 
.investment .assessment .question-icon:before{content:"\e65e";}
.investment .highrisk span,.investment .assessment span{color:#ff9d00; }
.investment .assessment{font-size:1.25rem; text-align:center; }
.investment .xieyi{ font-size:1.2rem; margin:3.25rem 1.5rem 1rem;color:#888888; }
.investment .xieyi a{color:#4a9cf0; }

.investment .xieyi .col1{ color:#4a9cf0; }
.investment .xieyi .checkbox{  display:inline-block; width:1.2rem; height:1.2rem; background:url(/css/img2.0/checkbox1.png) no-repeat; background-size:cover;}
.investment .xieyi span.checkbox1{ background:url(/css/img2.0/checkbox2.png) no-repeat; background-size:cover;}
.investment .pay_btn{ display:block; margin:0 1.5rem; text-align:center; height:3.8rem; line-height:3.8rem; border-radius:6px; font-size:1.6rem; background:#cd3830; color:#fff;}
.investment a.top{ margin-top:2rem; }
.investment .limit-pop{ text-align:center; background:#FFF;padding:1rem 0;}
.investment .limit-pop .limit-icon-bar{ padding:1rem 0; line-height:3rem; width:100px; height:5rem; color:#fd8635; font-size:3rem;}
.investment .limit-pop .limit-icon-bar:before{content:"\e66c";}
.investment .limit-pop .txt{ color:#979797;}
.investment .password-pop{ background:#fff; color:#888888;}
.investment .password-pop .tit{padding:1rem; color:#444444; font-size:1.5rem; text-align:center;}
.investment .password-pop .paslist{  padding:1rem; color:#979797;}
.investment .password-pop .paslist li{ overflow:hidden; padding:1rem 0; font-size:1.3rem; border-top:1px solid #e4e4e4;}
.investment .password-pop .paslist li .l{ float:left; }
.investment .password-pop .paslist li .col1{ color:#469af3; }
.investment .password-pop .paslist li .r{ color:#c34949; float:right; position:relative;  font-size:1.3rem}
.investment .password-pop .pasipt{ display:-webkit-box; color:#888888;border:1px solid #e8e8e8; border-width:1px 1px 0 0;} 
.investment .password-pop .pasipt input{ margin-bottom:0; height:4rem; width:16.666%; box-shadow:none; text-align:center; border:1px solid #e8e8e8;  border-width:0 0 1px 1px; background:#f6f6f6; }
.investment .pay_btn_op{ opacity:0.3; }
.investment .sy_time{ color:#b9b9b9; text-align:left; text-indent:1.5rem; font-size:1.3rem; margin:1rem 0 0; }
.investment .tc{ text-align:center;}
.investment .sy_time span{ margin:0 2.5rem 0 0;}
.investment .pro{text-align: center;
    color: #9ca2a6;
    position: fixed;
    bottom: 1rem;
    width: 100%;}
.investment .yuyue-pop{ background:#fff; border-radius:4px; padding:1.5rem 1.5rem 0; text-align:center;}
.investment .yuyue-pop .ico{ text-align:center; color:#339900; text-align:center; font-size:3rem; padding:2rem 1rem;}
.investment .yuyue-pop .ico:before{content:"\e66c";}
.investment .yuyue-pop .tit{ color:#666666; font-weight:bold; font-size:1.8rem; text-align:center;}
.investment .yuyue-pop .txt{font-size:1.5rem; color:#666666; padding:0 1.5rem 1.6rem;margin:0 -1.5rem; border-bottom:1px solid #e0e2ed;}
.investment .yuyue-pop .btn{ color:#e94a3d; text-align:center; font-size:1.5rem; padding:1.2rem 0;}
.investment .zzb-pop{text-align:center; background:#fff; border-radius:4px; padding:1.5rem 1.5rem 0; }
.investment .zzb-pop .ico{  color:#fd8635; text-align:center; font-size:3rem; padding:2rem 1rem;}
.investment .zzb-pop .ico:before{content:"\e66d";}
.investment .zzb-pop .tit{color:#666666; font-weight:bold; font-size:1.8rem; text-align:center; }
.investment .zzb-pop .txt{font-size:1.7rem; color:#666666; padding:1rem 1.5rem 1.6rem;margin:0 -1.5rem; border-bottom:1px solid #e0e2ed; }
.investment .zzb-pop .btn-mod{ overflow:hidden; margin:0 -1.5rem; }
.investment .zzb-pop .btn-mod span{ margin:0 0 0 -1px; padding:1rem 0; border-left:1px solid #dee0ec; color:#e94a3d; width:50%; float:left; text-align:center; font-size:1.7rem; }
.investment .assessment .question-icon{ display:inline-block; width:1rem; height:1rem; color:#ababab; }
.investment .assessment .question-icon:before{content:"\e65e";}
.tzrp1{ background:#f0eff5;}
.tzrp1 .tzr_txt{ padding:0.4rem 1rem; color:#979797; background:#fff; font-size:1.2rem;} /*border-bottom:1px solid #e8e8e8;*/
.tzrp1 p.tzr_bg{background:#f0eff5;padding:1rem; font-size:1.3rem;}
.tzrp1 .tzr_fx_list{ background:#fff;}
.tzrp1 .tzr_fx_list li{ position:relative; padding:1rem; color:#444444; font-size:1.3rem; overflow:hidden;}/*border-bottom:1px solid #e8e8e8;*/
.tzrp1 .tzr_fx_list li .l{ font-size:1.4rem; color:#424242;}
.tzrp1 .tzr_fx_list li .r{ color:#c6c6c6; position:relative;top:5px; float:right; font-size:1.4rem }
.tzrp1 .tzr_fx_list li .col1{ color:#469af3; }
.tzrp1 .tzr_fx_list li .col2{ position:absolute; top:1rem; right:3rem; color:#eb4936; }
.tzrp1 .btn{ color:#fff; text-align:center; background:#c44a49; border-radius:6px; margin:2rem 2rem 0; padding:1rem; font-size:1.6rem; display:block;}



.zzb-nav{background:#f7f7f7;height:4rem;overflow:hidden;font-size:1.4375rem;}
.zzb-nav a{distay:block;float:left;line-height:4rem;height:4rem;width:50%;text-align:center;color:#979797;position:relative;overflow:hidden;}
.zzb-nav a:before{height:2px;width:100%;background:#e4e4e4;position:absolute;bottom:0;left:0;content:" ";}
.zzb-nav a.on{color:#4c4744;}
.zzb-nav a.on:before{background:#eb4936;height:2px;}
.myreward-nav a{width:33.3333333% !important;}
.transhistory-nav a{width:20% !important;}
.zzb-nav .active a{color:#444444;}
.zzb-nav .active a:before{background:#c44a49;height:2px;}
.zzb-content .active{display:block;}
.ptjl-list a{ width:33.333333%}
.bg-white{color:#979797;}
.bg-white .text-right{ position:relative;}
.bg-white .ar{ position:absolute; top:2.5rem; right:1rem; color:#b9b9b9;}
.bg-white .ar:before{content:"\e615";}
.dj-icon{ font-size:1.3rem; }
.dj-icon:before{content:"\e66e";}
.dj-icon1{ font-size:1.3rem; }
.dj-icon1:before{content:"\e66f";}
.bg-white .small-4 p{ font-size:1.4rem;}
.addlist{ color: #b9b9b9;font-size: 1.3rem;padding: 1rem 0; margin:0.5rem 0;}
.roll_out_acc{ position:fixed; bottom:0; left:0; width:100%; font-size:1.7rem; padding:1rem 0; background:#fff;}
.zzb-info-list{ background:#fff;}
.zzb-info-list li{ border-bottom:1px solid #e8e8e8; overflow:hidden; padding:1rem;}
.zzb-info-list li .l{ float:left; width:40%; font-size:1.5rem; color:#444444;}
.zzb-info-list li .r{float: right; text-align:right; width:60%; font-size:1.3rem; color:#979797;}
.zzb-info-list li .red{color:#c44a49;}
.zzb-info-list li .green{color:#00d272;}
.zzb-info-list li .gray{color:gray;}
.zzbht-info-list{  background:#f7f7f7; width:100%;  color:#424242;}
.zzbht-info-list dt{ color:#424242; font-size:1.3rem; padding:1rem; font-weight:400;}
.zzbht-info-list dd{border-top:1px solid #e4e4e4; overflow:hidden; padding:0.7rem 1rem;}
.zzbht-info-list dd .l{float:left;width:70%; font-size:1.5rem;}
.zzbht-info-list dd .r{float: right;text-align:right;width:30%; position:relative;  font-size:1.3rem; padding:0 2rem 0 0;} 
.zzbht-info-list dd .r .ar{ font-size:1.5rem; position:absolute; top:1.3rem; right:0; color:#c6c6c6; }
.zzbht-info-list dd .r .ar:before{content:"\e615";}
.zzbht-info-list dd .col1{ color:#c44a49;}
.zzbht-info-list dd .col2{ color:#979797;}
.zzbht-info-list dd .f12{ font-size:1.2rem; color:#979797;}
.tabs-content>.content {
    display: none;
    float: left;
    padding: 0.9375rem 0;
    width: 100%;
}
.tabs-content>.content {
    padding: 0;
}

.tabs-content>.content.active {
    display: block;
    float: none;
}

#az-showmasker-Textpwd{font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif}
.az-password p{color:#666;font-size:16px;line-height:2.5}
.az-password .pasdbox{width:264px}
.az-password .pasdbox span{display:block;width:40px;height:40px;line-height:40px;margin:2px;float:left;background:#fff;border:1px solid #eee}
.az-password a.btn2{display:block;width:264px;color:#e1e1e1;font-size:16px;border-radius:.4em;padding:9.6px 0;margin-top:1em;border:1px solid #e1e1e1;margin-bottom:1em}
.az-password .keybord .small-4{font-size:16px;padding:8px 0;background:#fff;font-weight:700}
.safety{font-size:68%;text-align:center;line-height:20px;color:#9ca2a6;padding:10px 0}
#az-showmasker-Textpwd .safety{font-size:100%;text-align:center;line-height:20px;color:#9ca2a6;padding:10px 0}

/*new password*/
.fpbutton {font-size: 1.7rem;color: #e31908;display: inline-block;padding: 1rem 0;}
.password-value span {font-size: 2rem;float: left;line-height: 4rem;display: inline-block;margin-bottom: 0;height: 4rem;width: 16.666%;box-shadow: none;text-align: center;border-right: 1px solid #e4e4e4;border-top: 1px solid #e4e4e4;border-bottom: 1px solid #e4e4e4;background: #f6f6f6;}
.keyboard a {text-align: center;}
.passok {margin-left:-1px;}
.password-pop .fund-poplayer {bottom:48%;left: 10%;position: fixed; z-index:989;}
.password-pop{ background:#fff; color:#888888;}
.password-pop .tit{padding:1rem; color:#444444; font-size:1.5rem; text-align:center;}
.password-pop .paslist{  padding:1rem; color:#979797;}
.password-pop .paslist li{ overflow:hidden; padding:1rem 0; font-size:1.3rem; border-top:1px solid #e4e4e4;}
.password-pop .paslist li .l{ float:left; }
.password-pop .paslist li .col1{ color:#469af3; }
.password-pop .paslist li .r{ color:#c34949; float:right; position:relative;  font-size:1.3rem}
.password-pop .pasipt{ display:-webkit-box; color:#888888;border:1px solid #e8e8e8; border-width:1px 1px 0 0;} 
.password-pop .pasipt input{ margin-bottom:0; height:4rem; width:16.666%; box-shadow:none; text-align:center; border:1px solid #e8e8e8;  border-width:0 0 1px 1px; background:#f6f6f6; }

/*coupons*/
.coupons{height:50%}
.coupons .bg-white2:first-child{margin-top:114px}
.coupons .ondata{padding-bottom:110px;font-size:14px}
.couponwrap{height:100%;overflow:auto;z-index:22;left:17%;display:block;font-family:'Helvetica Neue',Helvetica,Roboto,Arial,sans-serif;font-size:16px}
.coupontitle{height:54px;font-size:22px}
.couponclear{padding:0;height:54px;background-color:#fff}
.couponclear h4{height:54px;line-height:54px;font-weight:300;font-size:17px;padding-left:9px}
.display-none{display:none}
.current-coupon{padding-left:15px}

/*public*/
.width40 {width:40%;}
.width60 {width:60%;}
.padding0 {padding:0;}

/*translist*/
#panel3 {clear: both;padding: initial;}
.translist p {height: 2.3rem;}
.translist p.oh { font-size:1.4rem; color:#444444;}
.translist .small-5 .gray{ font-size:1.2rem;}
.notinvest {top: 10%;}
.translist .transamount {padding-top:0.95rem;}
.translist-myreward p {height: 4rem;}

#user-demand-profit-amount{text-align: right;}
.line-h2{line-height: 2}
.margin0{margin:0;}

.pa-r4{position: absolute;line-height: 3;right: 4%;}
.pa-rel{position: relative;}
.col-97{color: #979797!important}
.mt-5r{margin-top: 4rem!important}


/*定期安全txt浮动*/
.po-init{position: initial!important;}
.line-het12 {line-height:12!important}

/*加息券&代金券弹窗*/
.bonus_ticket{  position: absolute;z-index: 22;width: 100%;background-color: #fff;height: 80%;bottom: 0;left: 0;overflow-y:auto}
.bt_header .small-6{background: #f7f7f7;text-align: center;color: #979797;font-size: 1.8rem;padding: 1rem 0 .5rem;border-bottom: 2px solid #e4e4e4}
.bon_t_on{color: #444!important;border-color: #c34949!important;}
.bt_tips{padding: 1rem;color: #b9b9b9;font-size: 1.35rem}
.bt_nomore{text-align: center;line-height: 3;color: #cacaca;font-size: 1.2rem}
.bt_tip2{position: absolute;z-index: 22;width: 100%;padding: 1rem;font-size: 1.35rem}
.col-fcc{color:#fcc802!important}
.bt_tip2 .icon-light:before{color:#fcc802!important }
.col-444{color: #444}
.bgf5{background: #f5f5f5;font-size: 1.3rem;color: #444;padding:1.5rem 0;}
.bgf5.nopadd{padding: .7rem 0;}
.jjseng{display: none;border-bottom: 1px solid  #e4e4e4;}
.other{display: none;}
.title_header {position:fixed}
.retext4 {padding: 0 2rem;}
.retext3 {padding: 0 0 0 3.8rem;}
.paddingtop {padding-top: 5rem;}



.investment .sr-val input[placeholder] { font-size: 1.3rem } 
p.accountq_tips{color: #b9b9b9; text-align: center;}