<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	<title>详情</title>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/newCommon.css">
	<link rel="stylesheet" type="text/css" href="/css/creditsMall/points.css">
	<script>
		; (function (doc, win) {
			var maxWidth = 720;
			var docEl = doc.documentElement,
				resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
				recalc = function () {
					var clientWidth = docEl.clientWidth;
					if (!clientWidth) return;
					if (clientWidth < 320) clientWidth = 320;
					if (clientWidth > maxWidth) clientWidth = maxWidth;
					fontSize = 20 * (clientWidth / 320);
					fontSize = (fontSize > 54) ? 54 : fontSize;
					//如果是pc访问
					if (!/windows phone|iphone|android/ig.test(window.navigator.userAgent)) {
						fontSize = 20 * maxWidth / 320;
					}
					docEl.style.fontSize = fontSize + 'px';
					var dpi = window.devicePixelRatio;
					var viewport = document.querySelector('meta[name="viewport"]');
					docEl.setAttribute('data-dpi', dpi);
					var scale = 1 / dpi;
				};
			if (!doc.addEventListener) return;
			recalc();
			win.addEventListener(resizeEvt, recalc, false);
			doc.addEventListener('DOMContentLoaded', recalc, false);
		})(document, window);
	</script>
</head>
<body>
	<div class="view productDetail" id="move_up">
		<!-- <div class="product_pic"><img class="big_pic" src="/css/img2.0/pointImg/product.png"></div>
		<div class="product_intro">
			<p class="product_title">施华蔻 8金纯盈精油洗发水 200ml</p>
			<p class="product_price">市场参考价：<span>158.00 元</span></p>
		</div>
		<div class="exchange_note">
			<strong>兑换说明</strong>
			<div><span>1.</span> <p>本商品用唐果兑换，不开具发票</p></div>
			<div><span>2.</span> <p>兑换成功后我们会联系您寄出商品</p></div>
			<div><span>3.</span> <p>相同手机号、身份证视为同一用户，如发现违规行为（如恶意      
    注册大量账号使用作弊程序等），唐小僧将取消该用户的兑换  
    资格
</p></div>
			<div><span>4.</span> <p>所有商品已经兑换唐果不退还</p></div>
			<div><span>5.</span> <p>如有问题请拨打客服电话400-607-8587</p></div>
			<div><span>6.</span> <p>本次商品最终解释权归唐小僧所有</p></div>
		</div>
		 <p class="pull_view">上拉查看图文详情（建议WiFi环境下查看）</p>
		<div class="pic_detail" >
			<img src="/css/img2.0/pointImg/product.png">
			<img src="/css/img2.0/pointImg/product.png">
			<img src="/css/img2.0/pointImg/product.png">
		</div> 
		<div class="exchange_point">
			<span>单价：<b class="price_red">3000</b> 唐果</span>
			<span class="exchange_btn">售罄</span>
		</div> -->

		<script type="text/html" id="productDetail">
			<div class="product_pic"><img class="big_pic" src="<%=productDetail.imgUrl%>"></div>
		<div class="product_intro">
			<p class="product_title"><%=productDetail.name%></p>
			<p class="product_price">市场参考价：<span><%=productDetail.marketPrice + productDetail.unit%></span></p>
		</div>
		<div class="exchange_note">
			<strong>兑换说明</strong>
			<% 
              var specification = productDetail.exchangeDesc;
              specification="上拉查看图文详情\r\n\r建议WiFi环境下查看";
              var specificationArray = [];
              specificationArray = specification?specification.split("\r") || specification.split("\n") || specification.split("\r\n"):"";
              for (var i = 0;i < specificationArray.length; i++){
			%>
			  <div class="cls"><span><%=i+1%>.</span> <p><%=specificationArray[i]%></p></div>
			<%}%>

		</div>
		 <p class="pull_view">上拉查看图文详情（建议WiFi环境下查看）</p>
		<div class="pic_detail" >
		   <img src="<%=productDetail.descImg%>">
		</div> 
		<div class="exchange_point">
			<span>单价：<b class="price_red"><%=productDetail.pointPayAmount%></b> 唐果</span>
			<% if (productDetail.inventory >0) {%>
			  <span class="exchange_btn" onClick="exchange('<%=productDetail.name%>','<%=productDetail.pointPayAmount%>','<%=productDetail.id%>','<%=productDetail.marketPrice
%>','<%=productDetail.itemType%>')">我要兑换</span>
			<%}else{%>
              <span class="sellOut_btn">售罄</span>
            <%}%>
		</div>
		</script>
	</div>
	<script src="/js/vendor/jquery.js" type="text/javascript"></script>
	<script src="/js/vendor/template.js" type="text/javascript"></script>
	<script src="/js/common.js" type="text/javascript"></script>
	<script src="/js/pagejs/creditsMall/choice_detail.js" type="text/javascript"></script>
	<script src="/js/pagejs/creditsMall/exchange.js" type="text/javascript"></script>

	<script>
		// $(function () {
		// 	var noscrheight = $(window).height() + $(".exchange_point").height();
		// 	var itemheight = $(".view").height();
		// 	//console.log(noscrheight + 'xxxx' + itemheight)
		// 	var itemheight2 = itemheight;
		// 	var bfscTop = $(window).scrollTop();
		// 	var down = 0, up = 0;
		// 	function scrollhand(e) {
		// 		//console.log(e);
		// 		console.log($(this).scrollTop())
		// 		//console.log(document.getQeurySelector(".view"))
		// 		var aftscrTop = $(window).scrollTop();
		// 		//console.log(aftscrTop, bfscTop);
		// 		if (aftscrTop > bfscTop) {
		// 			up = 0;
		// 			down++;
		// 			if (down > 5) {
		// 				console.log("down");
		// 				if ((noscrheight + $(this).scrollTop()) > itemheight) {
		// 					console.log("-----FFFFFFFFFFFFFFF");
		// 					//console.log(itemheight + 'zzzzz:' + $(this).scrollTop())
		// 					$(".pic_detail").show();
		// 					if (!$(".pic_detail").hasClass("showed")) {
		// 						$(".pic_detail").addClass("showed")
		// 						$("body,html").animate({
		// 							scrollTop: $(".pic_detail").offset().top
		// 						}, 500, function () {
		// 							$(".pic_detail").removeClass("hided");
		// 						});
		// 					}

		// 				}
		// 			}

		// 		} else if (aftscrTop < bfscTop) {
		// 			down = 0;
		// 			up++;
		// 			if (up > 5) {
		// 				console.log("up");
		// 				if ($(this).scrollTop() <= $(window).height() * 1.5 && $(".pic_detail").hasClass("showed")) {
		// 					//console.log("--->", $(this).scrollTop());
		// 					//$(".pic_detail").removeClass("showed");
		// 					if (!$(".pic_detail").hasClass("hided")) {
		// 						$(".pic_detail").addClass("hided");
		// 						console.log("-----klsdf");
		// 						$("body,html").animate({
		// 							scrollTop: 0
		// 						}, 500, function () {
		// 							$(".pic_detail").removeClass("showed");
		// 						});
		// 					}
		// 				}
		// 			}
		// 		}

		// 		bfscTop = aftscrTop;
		// 	}
		// 	if (noscrheight < itemheight) {
		// 		$(window).bind("scroll", scrollhand);
		// 	} else {
		// 		var aftdirt = 0, bfdirt = 0;
		// 		function starthandler(e) {
		// 			bfdirt = e.touches[0].clientY;
		// 		}
		// 		function handler(e) {
		// 			aftdirt = e.touches[0].clientY;
		// 			if (bfdirt - aftdirt > 5) {
		// 				$(".pic_detail").show();
		// 				if (!$(".pic_detail").hasClass("showed")) {
		// 					$(".pic_detail").addClass("showed")
		// 					$("body,html").animate({
		// 						scrollTop: $(".pic_detail").offset().top
		// 					}, 500, function () {
		// 						document.querySelector(".view").removeEventListener("touchstart", starthandler, false);
		// 						document.querySelector(".view").removeEventListener("touchmove", handler, false);
		// 						$(window).bind("scroll", scrollhand);
		// 					});
		// 				}
		// 			}
		// 		}
		// 		document.querySelector(".view").addEventListener("touchstart", starthandler, false);
		// 		document.querySelector(".view").addEventListener("touchmove", handler, false);
		// 	}

		// })
	</script>
</body>
</html>